[package]
name = "models"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
serde = { workspace = true }
prost = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }
